<h1 class="display-5 fw-bold text-success text-center"> Tasks</h1>
<%= render 'listings/mytasks' %>
  <hr />
  <h1 class="display-5 fw-bold text-success text-center"> Tools</h1>
  <%= render 'listings/mytools' %>