
<%= stylesheet_link_tag "style_1" %>

<div class="p-5 my-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5 my-2 my-bg">
        <h1 class="display-5 fw-bold">This is About Us Section</h1>
        <p class="col-md-8 fs-4">These are texts for about us section.</p>
      </div>
    </div>
  

