

<div id="carouselExampleIndicators" class="carousel slide vh-50" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active c-item">
      <img src="https://source.unsplash.com/random/700x700/?agriculture" class="d-block w-100 c-img" alt="...">
    </div>
    <div class="carousel-item c-item">
      <img src="https://source.unsplash.com/random/700x700/?farm" class="d-block w-100 c-img " alt="...">
    </div>
    <div class="carousel-item c-item">
      <img src="https://source.unsplash.com/random/700x700/?farmer" class="d-block w-100 c-img" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<form class="form-inline" id="my-form" action="/">
  <label class="my-1 mr-2" for="regionSelector">Choose Region</label>
  <select class="custom-select my-1 mr-sm-2" name="Region" id="regionSelector" onchange="this.form.submit()">
    <option selected>Choose...</option>
    <option value="Mandya">Mandya</option>
    <option value="Mysore">Mysore</option>
    <option value="Hubli">Hubli</option>
    <option value="Dharwad">Dharwad</option>
    <option value="Chikkamagaluru">Chikkamagaluru</option>
    <option value="Belgavi">Belgavi</option>
    <option value="Bellary">Bellary</option>
    <option value="Bidar">Bidar</option>
    <option value="Chitradurga">Chitradurga</option>
    <option value="Davangere">Davangere</option>
  </select>
  </form>
<p> You have selected <%= session[:my_re] %> Region </p>






