<div id="<%= dom_id info %>">
  <p>
    <strong>News:</strong>
    <%= info.news %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= info.location %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= info.title %>
  </p>

</div>
